{
  "name": "{{.Name}}",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "neutron dev",
    "build": "neutron build",
    "start": "neutron start"
  },
  "dependencies": {
    "neutron": "^{{.NeutronVer}}"
  },
  "devDependencies": {
    "typescript": "^5.5"
  }
}
