{
	auto_https off
}

:80 {
	root * /var/www/html
	file_server
	encode gzip

	try_files {path} {path}/index.html {path}.html
	handle_errors {
		rewrite * /index.html
		file_server
	}

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	header /assets/* Cache-Control "public, max-age=31536000, immutable"
}
